button{
    width : 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(249, 208, 215);
    border: none;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    color: hsla(0, 0%, 0%, 0.753);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsla(313, 48%, 65%, 0.655);
    border-radius: 15px;
    max-width: 500px;
    overflow :hidden;

}
#display{
    width : 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsla(0, 0%, 93%, 0.644) ;
    color : hsla(0, 0%, 0%, 0.753);
}
body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 198, 243) ;
}
button:hover{
    background-color: rgb(255, 252, 253);
}
button:active{
    background-color: rgb(243, 228, 230);
}
.operator{
    background-color:  rgb(236, 227, 236);
}