body{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin : 0;
}

#clock-container{
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border : 2px solid;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    backdrop-filter: blur(50px);
    width: 100%;
}